{% extends 'base.html' %}

{% block content %}
    <div class="tutor-course-filter-wrapper">
        <div class="tutor-course-filter-container">
            <div>
                <div class="tutor-course-search-field">
                    <input type="text" name="tutor-course-filter-keyword" placeholder="Qidiruv"/>
                    <i class="tutor-icon-magnifying-glass-1"></i>
                </div>
                <div>
                    <div>
                        <h4>Bo'lim</h4>
                        <label>
                            <input type="checkbox" name="tutor-course-filter-category" value="17"/>&nbsp;
                            Dasturlash </label>

                    </div>
                    <div>
                        <h4>Teg</h4>
                        <label>
                            <input type="checkbox" name="tutor-course-filter-tag" value="16"/>&nbsp;
                            arduino
                        </label>
                    </div>
                </div>
                <div>
                    <div>
                        <h4>Daraja</h4>
                        <label>
                            <input type="checkbox" name="tutor-course-filter-level" value="beginner"/>&nbsp;
                            Boshlang'ich </label>
                    </div>
                </div>
                <div class="tutor-clear-all-filter">
                    <a href="index.html">
                        <i class="tutor-icon-cross"></i> Clear All Filter
                    </a>

                </div>
            </div>
        </div>
        <div>
            <div class="tutor-wrap tutor-courses-wrap tutor-container tutor-course-filter-loop-container"
                 data-column_per_row="3">


                <div class="tutor-course-filter-wrap">
                    <div class="tutor-course-archive-results-wrap">
                        Kurslar soni <strong>9</strong> ta
                    </div>

                    <div class="tutor-course-archive-filters-wrap">
                        <form class="tutor-course-filter-form" method="get">
                            <select name="tutor_course_filter">
                                <option value="newest_first">Chiqish sanasi (eng yangi birinchi)</option>
                                <option value="oldest_first">Chiqish sanasi (birinchi eski)</option>
                                <option value="course_title_az">Dars nomi (a-z)</option>
                                <option value="course_title_za">Dars nomi (z-a)</option>
                            </select>
                        </form>
                    </div>
                </div>
                <div class="tutor-courses tutor-courses-loop-wrap tutor-courses-layout-3">

{#                    REMINDER: Course CARD#}
                    <div class="tutor-course-col-3">
                        <div class="tutor-course tutor-course-loop tutor-course-loop-807">
                            <div class="tutor-course-header">
                                <a href="photoshop-asoslari/index.html"> <img width="1280" height="720"
                                                                              src="../wp-content/uploads/2020/12/Blue-and-Green-Modern-Gradient-Business-YouTube-Thumbnail-1.png"
                                                                              class="attachment-post-thumbnail size-post-thumbnail"
                                                                              alt="" loading="lazy"
                                                                              srcset="https://zamineducation.uz/wp-content/uploads/2020/12/Blue-and-Green-Modern-Gradient-Business-YouTube-Thumbnail-1.png 1280w, https://zamineducation.uz/wp-content/uploads/2020/12/Blue-and-Green-Modern-Gradient-Business-YouTube-Thumbnail-1-300x169.png 300w, https://zamineducation.uz/wp-content/uploads/2020/12/Blue-and-Green-Modern-Gradient-Business-YouTube-Thumbnail-1-1024x576.png 1024w, https://zamineducation.uz/wp-content/uploads/2020/12/Blue-and-Green-Modern-Gradient-Business-YouTube-Thumbnail-1-768x432.png 768w, https://zamineducation.uz/wp-content/uploads/2020/12/Blue-and-Green-Modern-Gradient-Business-YouTube-Thumbnail-1-16x9.png 16w"
                                                                              sizes="(max-width: 1280px) 100vw, 1280px"/>
                                </a>
                                <div class="tutor-course-loop-header-meta">
                                    <span class="tutor-course-loop-level">Hamma uchun</span><span
                                        class="tutor-course-wishlist"><a href="javascript:;"
                                                                         class="tutor-icon-fav-line cart-required-login  "
                                                                         data-course-id="807"></a> </span></div>
                            </div>
                            <div class="tutor-loop-course-container">


                                <div class="tutor-loop-rating-wrap">
                                    <div class="tutor-star-rating-group"><i class="tutor-icon-star-line"
                                                                            data-rating-value="1"></i><i
                                            class="tutor-icon-star-line" data-rating-value="2"></i><i
                                            class="tutor-icon-star-line" data-rating-value="3"></i><i
                                            class="tutor-icon-star-line" data-rating-value="4"></i><i
                                            class="tutor-icon-star-line" data-rating-value="5"></i>
                                        <div class='tutor-rating-gen-input'><input type='hidden'
                                                                                   name='tutor_rating_gen_input'
                                                                                   value='0'/>
                                        </div>
                                    </div>
                                    <span class="tutor-rating-count">
            </span>
                                </div>


                                <div class="tutor-course-loop-title">
                                    <h2><a href="photoshop-asoslari/index.html">Photoshop Asoslari</a></h2>
                                </div>


                                <div class="tutor-course-loop-meta">
                                    <div class="tutor-single-loop-meta">
                                        <i class='tutor-icon-user'></i><span>28</span>
                                    </div>
                                </div>


                                <div class="tutor-loop-author">
                                    <div class="tutor-single-course-avatar">
                                        <a href="../profile/admin/index.html"> <span class='tutor-text-avatar'
                                                                                     style='background-color: #597d92; color: #fff8e5'>ZE</span></a>
                                    </div>
                                    <div class="tutor-single-course-author-name">
                                        <span>Muallif:</span>
                                        <a href="../profile/admin/index.html">ZAMIN Education</a>
                                    </div>

                                    <div class="tutor-course-lising-category">
                                        <span>Bo&#039;lim:</span>
                                        <a href='../course-category/dizayn/index.html'>Dizayn </a></div>
                                </div>
                            </div>
                            <div class="tutor-loop-course-footer">

                                <div class="tutor-course-loop-price">
                                    <div class="price"> ...
                                        <div class="tutor-loop-cart-btn-wrap"><a href="photoshop-asoslari/index.html">Kursga
                                            yozilish</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="tutor-pagination-wrap">
                </div>

            </div><!-- .wrap -->
        </div>
    </div>
{% endblock %}