{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div data-elementor-type="wp-page" data-elementor-id="70" class="elementor elementor-70"
         data-elementor-settings="[]">
        <div class="elementor-inner">
            <div class="elementor-section-wrap">
                <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-e8cfccf elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle"
                        data-id="e8cfccf" data-element_type="section"
                        data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_motion_fx_motion_fx_mouse&quot;:&quot;yes&quot;,&quot;background_motion_fx_mouseTrack_effect&quot;:&quot;yes&quot;,&quot;background_motion_fx_mouseTrack_speed&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:1,&quot;sizes&quot;:[]}}">
                    <div class="elementor-background-overlay"></div>
                    <div class="elementor-container elementor-column-gap-default">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-78b71530"
                                 data-id="78b71530" data-element_type="column"
                                 data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-5f14a30b elementor-widget elementor-widget-heading"
                                             data-id="5f14a30b" data-element_type="widget"
                                             data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h2 class="elementor-heading-title elementor-size-large">ZAMIN TA'LIM
                                                    PLATFORMASIGA XUSH KELIBSIZ!</h2></div>
                                        </div>
                                        <div class="elementor-element elementor-element-5eb01fa8 elementor-mobile-align-center elementor-widget elementor-widget-button"
                                             data-id="5eb01fa8" data-element_type="widget"
                                             data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a href="courses/index.html"
                                                       class="elementor-button-link elementor-button elementor-size-md"
                                                       role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon elementor-align-icon-left">
				<i aria-hidden="true" class="fas fa-graduation-cap"></i>			</span>
						<span class="elementor-button-text">BOSHLASH</span>
		</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7d14b0a"
                                 data-id="7d14b0a" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-5e557167 elementor-aspect-ratio-169 elementor-widget elementor-widget-video"
                                             data-id="5e557167" data-element_type="widget"
                                             data-settings="{&quot;show_image_overlay&quot;:&quot;yes&quot;,&quot;image_overlay&quot;:{&quot;url&quot;:&quot;https:\/\/zamineducation.uz\/wp-content\/uploads\/2021\/03\/zaminv3.png&quot;,&quot;id&quot;:1068},&quot;youtube_url&quot;:&quot;https:\/\/www.youtube.com\/watch?v=BKdrYOXwBDY&quot;,&quot;start&quot;:0,&quot;lazy_load&quot;:&quot;yes&quot;,&quot;lightbox&quot;:&quot;yes&quot;,&quot;lightbox_content_animation&quot;:&quot;zoomIn&quot;,&quot;video_type&quot;:&quot;youtube&quot;,&quot;aspect_ratio&quot;:&quot;169&quot;}"
                                             data-widget_type="video.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-wrapper elementor-open-lightbox">
                                                    <div class="elementor-custom-embed-image-overlay"
                                                         data-elementor-open-lightbox="yes"
                                                         data-elementor-lightbox="{&quot;type&quot;:&quot;video&quot;,&quot;videoType&quot;:&quot;youtube&quot;,&quot;url&quot;:&quot;https:\/\/www.youtube.com\/embed\/BKdrYOXwBDY?feature=oembed&amp;start=0&amp;end&amp;wmode=opaque&amp;loop=0&amp;controls=0&amp;mute=0&amp;rel=0&amp;modestbranding=0&quot;,&quot;modalOptions&quot;:{&quot;id&quot;:&quot;elementor-lightbox-5e557167&quot;,&quot;entranceAnimation&quot;:&quot;zoomIn&quot;,&quot;entranceAnimation_tablet&quot;:&quot;&quot;,&quot;entranceAnimation_mobile&quot;:&quot;&quot;,&quot;videoAspectRatio&quot;:&quot;169&quot;}}">
                                                        <img width="768" height="512"
                                                             src="wp-content/uploads/2021/03/zaminv3-768x512.png"
                                                             class="attachment-medium_large size-medium_large" alt=""
                                                             loading="lazy"
                                                             srcset="https://zamineducation.uz/wp-content/uploads/2021/03/zaminv3-768x512.png 768w, https://zamineducation.uz/wp-content/uploads/2021/03/zaminv3-300x200.png 300w, https://zamineducation.uz/wp-content/uploads/2021/03/zaminv3-1024x683.png 1024w, https://zamineducation.uz/wp-content/uploads/2021/03/zaminv3-1536x1024.png 1536w, https://zamineducation.uz/wp-content/uploads/2021/03/zaminv3-16x12.png 16w, https://zamineducation.uz/wp-content/uploads/2021/03/zaminv3.png 1714w"
                                                             sizes="(max-width: 768px) 100vw, 768px"/>
                                                        <div class="elementor-custom-embed-play" role="button">
                                                            <i class="eicon-play" aria-hidden="true"></i>
                                                            <span class="elementor-screen-only">Play Video</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-5643f26d elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="5643f26d" data-element_type="section"
                        data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-container elementor-column-gap-wider">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-8ad1749"
                                 data-id="8ad1749" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-5c08d0c7 elementor-view-framed elementor-position-left elementor-vertical-align-middle elementor-shape-circle elementor-widget elementor-widget-icon-box"
                                             data-id="5c08d0c7" data-element_type="widget"
                                             data-widget_type="icon-box.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-icon-box-wrapper">
                                                    <div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<i aria-hidden="true" class="fas fa-american-sign-language-interpreting"></i>				</span>
                                                    </div>
                                                    <div class="elementor-icon-box-content">
                                                        <h3 class="elementor-icon-box-title">
                                                            <span>Surdo tarjimon ishtirokidagi AKT kurslar</span>
                                                        </h3>
                                                        <p class="elementor-icon-box-description">Surdo tiliga tarjima
                                                            qilingan sifatli darslarimiz yordamida o'z bilimingizni
                                                            oshirib
                                                            boring!<br></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-4a46271a elementor-view-framed elementor-position-left elementor-vertical-align-middle elementor-shape-circle elementor-widget elementor-widget-icon-box"
                                             data-id="4a46271a" data-element_type="widget"
                                             data-widget_type="icon-box.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-icon-box-wrapper">
                                                    <div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<i aria-hidden="true" class="fas fa-id-card-alt"></i>				</span>
                                                    </div>
                                                    <div class="elementor-icon-box-content">
                                                        <h3 class="elementor-icon-box-title">
					<span>Sertifikat olish imkoniyati<br>
</span>
                                                        </h3>
                                                        <p class="elementor-icon-box-description">Kurs yakunlanganidan
                                                            so'ng
                                                            sertifikatlarga ega bo'ling.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-6077ea71 elementor-widget elementor-widget-spacer"
                                             data-id="6077ea71" data-element_type="widget"
                                             data-widget_type="spacer.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-spacer">
                                                    <div class="elementor-spacer-inner"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-577d1453"
                                 data-id="577d1453" data-element_type="column">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-14d69ff1 elementor-view-framed elementor-position-left elementor-vertical-align-middle elementor-shape-circle elementor-widget elementor-widget-icon-box"
                                             data-id="14d69ff1" data-element_type="widget"
                                             data-widget_type="icon-box.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-icon-box-wrapper">
                                                    <div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<i aria-hidden="true" class="fas fa-business-time"></i>				</span>
                                                    </div>
                                                    <div class="elementor-icon-box-content">
                                                        <h3 class="elementor-icon-box-title">
                                                            <span>Istalgan joydan istalgan vaqt o'rganish imkoniyati</span>
                                                        </h3>
                                                        <p class="elementor-icon-box-description">Platforma istalgan
                                                            vaqtda
                                                            qayerda bo'lishingizdan qat'i nazar, yangi davr kasblarini
                                                            oson
                                                            o'rganish imkonini beradi.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-4bd93d51 elementor-view-framed elementor-position-left elementor-vertical-align-middle elementor-shape-circle elementor-widget elementor-widget-icon-box"
                                             data-id="4bd93d51" data-element_type="widget"
                                             data-widget_type="icon-box.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-icon-box-wrapper">
                                                    <div class="elementor-icon-box-icon">
				<span class="elementor-icon elementor-animation-">
				<i aria-hidden="true" class="fab fa-android"></i>				</span>
                                                    </div>
                                                    <div class="elementor-icon-box-content">
                                                        <h3 class="elementor-icon-box-title">
                                                            <span>Istalgan qurilma yordamida bilim oling!</span>
                                                        </h3>
                                                        <p class="elementor-icon-box-description">Platformani istalgan
                                                            tizimga ilova sifatida qo'shib oling!</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section
                        class="elementor-section elementor-top-section elementor-element elementor-element-3f995c48 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                        data-id="3f995c48" data-element_type="section"
                        data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_motion_fx_motion_fx_mouse&quot;:&quot;yes&quot;}">
                    <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-row">
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-10b52b46"
                                 data-id="10b52b46" data-element_type="column"
                                 data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-22747c6d elementor-skin-slideshow elementor-aspect-ratio-169 elementor-arrows-yes elementor-widget elementor-widget-media-carousel"
                                             data-id="22747c6d" data-element_type="widget"
                                             data-settings="{&quot;space_between&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:8,&quot;sizes&quot;:[]},&quot;skin&quot;:&quot;slideshow&quot;,&quot;effect&quot;:&quot;slide&quot;,&quot;show_arrows&quot;:&quot;yes&quot;,&quot;speed&quot;:500,&quot;autoplay&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;loop&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;space_between_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;space_between_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]}}"
                                             data-widget_type="media-carousel.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-swiper">
                                                    <div class="elementor-main-swiper swiper-container">
                                                        {% for foo in '0123456789'|make_list %}
                                                            <div class="swiper-wrapper">
                                                                <div class="swiper-slide">
                                                                    <div class="elementor-carousel-image"
                                                                         style="background-image: url({% static 'images/room{{  }}.jpg' %})">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}

                                                        <div class="elementor-swiper-button elementor-swiper-button-prev">
                                                            <i class="eicon-chevron-left" aria-hidden="true"></i>
                                                            <span class="elementor-screen-only">Previous</span>
                                                        </div>
                                                        <div class="elementor-swiper-button elementor-swiper-button-next">
                                                            <i class="eicon-chevron-right" aria-hidden="true"></i>
                                                            <span class="elementor-screen-only">Next</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-swiper">
                                                    <div class="elementor-thumbnails-swiper swiper-container">
                                                        <div class="swiper-wrapper">
                                                            <div class="swiper-slide">
                                                                <div class="elementor-fit-aspect-ratio elementor-carousel-image"
                                                                     style="background-image: url(wp-content/uploads/2021/03/2002v2.jpg)">
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div class="elementor-fit-aspect-ratio elementor-carousel-image"
                                                                     style="background-image: url(wp-content/uploads/2021/03/2004.jpg)">
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div class="elementor-fit-aspect-ratio elementor-carousel-image"
                                                                     style="background-image: url(wp-content/uploads/2020/11/photo_2020-11-05_15-59-21.jpg)">
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div class="elementor-fit-aspect-ratio elementor-carousel-image"
                                                                     style="background-image: url(wp-content/uploads/2020/11/photo_2020-11-05_15-59-22.jpg)">
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div class="elementor-fit-aspect-ratio elementor-carousel-image"
                                                                     style="background-image: url(wp-content/uploads/2021/03/zaminv2.jpg)">
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div class="elementor-fit-aspect-ratio elementor-carousel-image"
                                                                     style="background-image: url(wp-content/uploads/2020/11/photo_2020-11-05_15-59-25.jpg)">
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div class="elementor-fit-aspect-ratio elementor-carousel-image"
                                                                     style="background-image: url(wp-content/uploads/2020/11/photo_2020-11-05_15-59-26.jpg)">
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div class="elementor-fit-aspect-ratio elementor-carousel-image"
                                                                     style="background-image: url(wp-content/uploads/2021/03/1-8.jpg)">
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div class="elementor-fit-aspect-ratio elementor-carousel-image"
                                                                     style="background-image: url(wp-content/uploads/2021/03/4-5.jpg)">
                                                                </div>
                                                            </div>
                                                            <div class="swiper-slide">
                                                                <div class="elementor-fit-aspect-ratio elementor-carousel-image"
                                                                     style="background-image: url(wp-content/uploads/2020/11/photo_2020-11-05_15-59-36.jpg)">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4678c21e"
                                 data-id="4678c21e" data-element_type="column"
                                 data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                <div class="elementor-column-wrap elementor-element-populated">
                                    <div class="elementor-widget-wrap">
                                        <div class="elementor-element elementor-element-4018dc42 elementor-widget elementor-widget-heading"
                                             data-id="4018dc42" data-element_type="widget"
                                             data-widget_type="heading.default">
                                            <div class="elementor-widget-container">
                                                <h4 class="elementor-heading-title elementor-size-default">Foto
                                                    Galereya</h4></div>
                                        </div>
                                        <div class="elementor-element elementor-element-4c34ef52 elementor-widget elementor-widget-text-editor"
                                             data-id="4c34ef52" data-element_type="widget"
                                             data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-text-editor elementor-clearfix"><p
                                                        data-pm-slice="1 1 []">&#8220;Zamin <span class="error"
                                                                                                  data-word="Эдусатион"
                                                                                                  data-element="df676b7e-e042-40c9-9eaf-53a68e15f9e4"
                                                                                                  data-status="error">Education</span>&#8221;
                                                    loyihasining ilk sinov-tajriba o‘quv jarayoni Muhammad Al-Xorazmiy
                                                    nomidagi axborot-texnologiyalarini chuqurlashtirib o‘rgatishga
                                                    ixtisoslashgan maktabda amalga oshirilmoqda.</p></div>
                                            </div>
                                        </div>
                                        <div class="elementor-element elementor-element-7c82df35 elementor-widget elementor-widget-button"
                                             data-id="7c82df35" data-element_type="widget"
                                             data-widget_type="button.default">
                                            <div class="elementor-widget-container">
                                                <div class="elementor-button-wrapper">
                                                    <a href="https://www.zaminfoundation.ngo/articles/zamin_education"
                                                       target="_blank"
                                                       class="elementor-button-link elementor-button elementor-size-sm"
                                                       role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon elementor-align-icon-left">
				<i aria-hidden="true" class="far fa-newspaper"></i>			</span>
						<span class="elementor-button-text">QO'SHIMCHA MA'LUMOT</span>
		</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}