{% extends 'base.html' %}
{% load print %}
{% block content %}
    <main>
        <section id="login" class="login">
            <div class="container">
                <form action="{% url 'register' %}" method="POST" class="signup">
                {% csrf_token %}
                    {#                    {{ user_form.as_p }}#}
                    <h1 style="font-size: 32px;">Ro'yxatdan o'tish</h1>
                    <h4 class="signup__subtitle">Ro'yxatdan o'tgan bo'lsangiz
                        <a href="{% url 'login' %}"><span>Kirish</span></a>
                    </h4>
                    {% for field in user_form %}
                        <div class="signup__field" style="margin-bottom: 0">
                            {{ field }}
                            <label class="signup__label" for="{{ field.name }}">{{ field.label }}</label>
                        </div>
                        {% if field.errors %}

                            <h6 style="color: red; margin-bottom: 40px" class="error-box">
                                {{ field.errors }}

                            </h6>
                            {% else %}
                            <h6 style="color: red; margin-bottom: 40px" class="error-box">

                            </h6>
                        {% endif %}
                    {% endfor %}

                    <button class="main-btn-login">Sign up</button>
                </form>
            </div>
        </section>
    </main>
{% endblock %}